<div class="background-container">
    <img class="background" src="../../assets/compressed/background-image.jpg">
</div>
<div class="content">
    <div class="inner">
        <form *ngIf="!userFound" [formGroup]="resetForm" (submit)="onSubmit()">
            <span class="title">{{'resetPassword' | translate | async}}</span>
            <div class="form">
                <mat-form-field>
                    <input #mainInput matInput required type="text" formControlName="mail">
                    <mat-placeholder class="placeholder">{{'mail' | translate | async}}</mat-placeholder>
                    <mat-error *ngIf="resetForm.controls.mail.hasError('required')">
                        {{'mailRequired' | translate | async}}
                    </mat-error>
                    <mat-error *ngIf="resetForm.controls.mail.hasError('email')">
                        {{'mailInvalid' | translate | async}}
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">{{'submit' | translate | async}}</button>
            </div>
            <div *ngIf="userFound === false || state === 'error'" class="message error" class="message error">
                <span *ngIf="userFound === false">
                    {{'mailNotFound' | translate | async}}
                </span>
                <span *ngIf="state === 'error'">
                    {{'unexpectedFail' | translate | async}} =>
                    {{errorStatus}}
                </span>
            </div>
        </form>
        <div *ngIf="userFound" class="message success">
            <span>{{'mailFound' | translate | async}}</span>
        </div>
    </div>
</div>