<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="sign-in">
    <mat-form-field>
        <input #mainInput matInput required formControlName="mail" autocomplete="off">
        <mat-placeholder>{{'mail' | translate | async }}</mat-placeholder>
        <mat-error *ngIf="signInForm.controls.mail.hasError('required')">
            {{'mailRequired' | translate | async }}
        </mat-error>
        <mat-error *ngIf="signInForm.controls.mail.hasError('email')">
            {{'mailInvalid' | translate | async }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput required type="password" formControlName="password" autocomplete="off">
        <mat-placeholder>{{'password' | translate | async }}</mat-placeholder>
        <mat-error *ngIf="signInForm.controls.password.hasError('required')">
            {{'passwordRequired' | translate | async }}
        </mat-error>
        <mat-error *ngIf="signInForm.controls.password.hasError('minlength')">
            {{getPasswordMinLengthError()}}
        </mat-error>
        <mat-error *ngIf="signInForm.controls.password.hasError('maxlength')">
            {{getPasswordMaxLengthError()}}
        </mat-error>
        <mat-error *ngIf="signInForm.controls.password.hasError('upperMin')">
            {{getPasswordUpperMinError()}}
        </mat-error>
        <mat-error *ngIf="signInForm.controls.password.hasError('digitMin')">
            {{getPasswordDigitMinError()}}
        </mat-error>
    </mat-form-field>
    <button mat-button type="button"
        [routerLink]="absoluteRoute.resetPassword">{{'forgotPassword' | translate | async }}</button>
    <button mat-flat-button color="primary" type="submit">{{'signIn' | translate | async }}</button>
    <div *ngIf="userFound === false || state === 'error'" class="message error">
        <span *ngIf="userFound === false">
            {{'userNotFound' | translate | async}}
        </span>
        <span *ngIf="state === 'error'">
            {{'unexpectedFail' | translate | async }} =>
            {{errorStatus}}
        </span>
    </div>
</form>