<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="sign-in">
    <mat-form-field>
        <input #mainInput matInput required formControlName="mail" autocomplete="off">
        <mat-placeholder>{{'authenticateMail' | translate | async }}</mat-placeholder>
        <mat-error *ngIf="signInForm.controls.mail.hasError('required')">
            {{'authenticateMailRequired' | translate | async }}
        </mat-error>
        <mat-error *ngIf="signInForm.controls.mail.hasError('email')">
            {{'authenticateMailInvalid' | translate | async }}
        </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
        <input matInput required type="password" formControlName="password" autocomplete="off">
        <mat-placeholder>{{'authenticatePassword' | translate | async }}</mat-placeholder>
        <mat-error *ngIf="signInForm.controls.password.hasError('required')">
            {{'authenticatePasswordRequired' | translate | async }}
        </mat-error>
        <mat-error *ngIf="signInForm.controls.password.hasError('minlength')">
            {{getPasswordMinLengthError()}}
        </mat-error>
        <mat-error *ngIf="signInForm.controls.password.hasError('maxlength')">
            {{getPasswordMaxLengthError()}}
        </mat-error>
        <mat-error *ngIf="signInForm.controls.password.hasError('digitMin')">
            {{getPasswordDigitMinError()}}
        </mat-error>
        <mat-error *ngIf="signInForm.controls.password.hasError('upperMin')">
            {{getPasswordUpperMinError()}}
        </mat-error>
    </mat-form-field>
    <br />
    <div class="button-container">
        <button mat-flat-button color="primary" type="submit">{{'authenticateSignIn' | translate | async }}</button>
    </div>
    <div *ngIf="responseError" class="response">
        <span class="error">{{responseError}}</span>
    </div>
</form>