<router-outlet></router-outlet>
<header [class.expand]="isExpand">
  <nav>
    <div class="main">
      <a class="logo" routerLink="/"><img src="../assets/compressed/logo/logoSmallGreen.svg"></a>
      <mat-icon (click)="setExpand(!isExpand)" class="expand-btn" aria-hidden="false"
        aria-label="Example thumbs up SVG icon">{{!isExpand ? 'menu' : 'close'}}</mat-icon>
    </div>
    <ul class="topics">
      <div class="left">
        <li class="topic"><button mat-button (click)="setExpand(false)" routerLink="/" class="text"
            [color]="getIsActive('/') ? 'primary' : ''">{{'home' | translate | async}}</button></li>
        <li class="topic"><button mat-button (click)="setExpand(false)" routerLink="/product" class="text"
            [color]="getIsActive('/product') ? 'primary' : ''">{{'product' | translate | async}}</button></li>
        <li class="topic"><button mat-button (click)="setExpand(false)" routerLink="/about-us" class="text"
            [color]="getIsActive('/about-us') ? 'primary' : ''">{{'aboutUs' | translate | async}}</button></li>
        <li class="topic"><button mat-button (click)="setExpand(false)" routerLink="/contact" class="text"
            [color]="getIsActive('/contact') ? 'primary' : ''">{{'contact' | translate | async}}</button></li>
        <li class="topic choose-language">
          <div class="dropdown">
            <span class="dropdown-btn text">{{'language' | translate | async}}</span>
            <div class="dropdown-content languages">
              <span class="dropdown-option" [class.is-active]="getIsActiveLanguage('english')"
                (click)="setLanguage('english')"><img width="20px"
                  src="../assets/compressed/flags/uk.jpg">{{'english' | translate | async}}</span>
              <span class="dropdown-option" [class.is-active]="getIsActiveLanguage('german')"
                (click)="setLanguage('german')"><img width="20px"
                  src="../assets/compressed/flags/germany.jpg">{{'german' | translate | async}}</span>
              <span class="dropdown-option" [class.is-active]="getIsActiveLanguage('chinese')"
                (click)="setLanguage('chinese')"><img width="20px"
                  src="../assets/compressed/flags/china.png">{{'chinese' | translate | async}}</span>
            </div>
          </div>
        </li>
      </div>
      <div class="right">
        <li class="topic">
          <button mat-button (click)="setExpand(false)" routerLink="/authenticate" class="text"
            [color]="getIsActive('/authenticate') ? 'primary' : ''">{{'authenticate' | translate | async}}</button>
        </li>
      </div>
    </ul>
  </nav>
</header>