<router-outlet></router-outlet>
<header [class.expand]="isExpand">
  <nav>
    <div class="main">
      <a class="logo" routerLink="/"><img src="../assets/compressed/logo/logoSmallGreen.svg"></a>
      <mat-icon (click)="setExpand(!isExpand)" class="expand-btn" aria-hidden="false"
        aria-label="Example thumbs up SVG icon">{{!isExpand ? 'menu' : 'close'}}</mat-icon>
    </div>
    <ul class="topics">
      <div class="left">
        <li class="topic"><button mat-button (click)="setExpand(false)" [routerLink]="absoluteRoute.home" class="text"
            [color]="getIsActive(absoluteRoute.home, true) ? 'primary' : ''">{{'home' | translate | async}}</button>
        </li>
        <li class="topic"><button mat-button (click)="setExpand(false)" [routerLink]="absoluteRoute.product"
            class="text"
            [color]="getIsActive(absoluteRoute.product) ? 'primary' : ''">{{'product' | translate | async}}</button>
        </li>
        <li class="topic"><button mat-button (click)="setExpand(false)" [routerLink]="absoluteRoute.aboutUs"
            class="text"
            [color]="getIsActive(absoluteRoute.aboutUs) ? 'primary' : ''">{{'aboutUs' | translate | async}}</button>
        </li>
        <li class="topic"><button mat-button (click)="setExpand(false)" [routerLink]="absoluteRoute.contact"
            class="text"
            [color]="getIsActive(absoluteRoute.contact) ? 'primary' : ''">{{'contact' | translate | async}}</button>
        </li>
        <li class="topic choose-language">
          <div class="dropdown">
            <span class="dropdown-btn text">{{'language' | translate | async}}</span>
            <div class="dropdown-content languages">
              <span class="dropdown-option" [class.is-active]="getIsActiveLanguage('german')"
                (click)="setLanguage('german')"><img width="20px"
                  src="../assets/compressed/flags/germany.jpg">{{'german' | translate | async}}</span>
              <span class="dropdown-option" [class.is-active]="getIsActiveLanguage('english')"
                (click)="setLanguage('english')"><img width="20px"
                  src="../assets/compressed/flags/uk.jpg">{{'english' | translate | async}}</span>
              <span class="dropdown-option" [class.is-active]="getIsActiveLanguage('chinese')"
                (click)="setLanguage('chinese')"><img width="20px"
                  src="../assets/compressed/flags/china.png">{{'chinese' | translate | async}}</span>
            </div>
          </div>
        </li>
      </div>
      <div class="right">
        <li class="topic">
          <button *ngIf="!isAuthorized" mat-button (click)="setExpand(false)" [routerLink]="absoluteRoute.authenticate"
            class="text"
            [color]="getIsActive(absoluteRoute.authenticate) ? 'primary' : ''">{{'authenticate' | translate | async}}</button>
          <button *ngIf="isAuthorized" mat-button (click)="setExpand(false)" [routerLink]="absoluteRoute.profile"
            class="text" [color]="getIsActive(absoluteRoute.profile) ? 'primary' : ''">
            <mat-icon>account_circle
            </mat-icon>
          </button>
        </li>
      </div>
    </ul>
  </nav>
</header>