body {
    overflow: hidden;
}

header {
    height: 24px;
}

.frame {
    height: calc((100% - 4px) - 28px);
    width: 100%;
}

.close-btn {
    float: right;
    cursor: pointer;
}

mat-spinner {
    height: 100%;
    margin: auto;
}

.spinner-container {
    display: flex;
    height: calc((100% - 4px) - 28px);
}