<div class="background-container">
    <img class="background" src="../../assets/compressed/background-image.jpg">
</div>
<div class="content">
    <div class="inner">
        <span class="title">{{'profile' | translate | async }}</span>
        <div class="infos">
            <div class="info">
                <span class="name">{{'mail' | translate | async }}:</span>
                <div class="values">
                    <span class="value">{{userMail}}</span>
                </div>
            </div>
            <div class="info">
                <span class="name">{{'subscriptionExpirationDate' | translate | async }}:</span>
                <div class="value-and-interact">
                    <span class="value">{{getExpirationDate()}}</span>
                    <button mat-button color="primary"
                        class="interact">{{'cancel' | translate | async }}</button>
                </div>
            </div>
        </div>
    </div>
</div>