.content {
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    background-color: #222;
    border-radius: 4px;
    padding: 20px;
    width: 500px;

    .title {
      font-size: 1.25rem;
    }

    .infos {
      font-size: 1.125rem;

      .info {
        display: flex;
        align-items: center;
        height: 36px;

        .name,
        .value-and-interact {
          width: 250px;
        }

        .name {
          display: inline-block;
        }

        .value-and-interact {
          display: flex;
          align-items: center;

          .interact {
            margin-left: auto;
          }
        }
      }
    }

    .actions {
      margin-top: 0.5rem;
      display: flex;
      justify-content: center;

      .action {
        font-size: 1.1rem;
      }
    }
  }
}

.none {
  display: none;
}