<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="sign-up">
    <mat-form-field>
        <input #mainInput matInput required formControlName="mail">
        <mat-placeholder>{{'mail' | translate | async }}</mat-placeholder>
        <mat-error *ngIf="signUpForm.controls.mail.hasError('required')">
            {{'mailRequired' | translate | async }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls.mail.hasError('email')">
            {{'mailInvalid' | translate | async }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput required type="password" formControlName="password">
        <mat-placeholder>{{'password' | translate | async }}</mat-placeholder>
        <mat-error *ngIf="signUpForm.controls.password.hasError('required')">
            {{'passwordRequired' | translate | async }}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls.password.hasError('minlength')">
            {{getPasswordMinLengthError()}}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls.password.hasError('maxlength')">
            {{getPasswordMaxLengthError()}}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls.password.hasError('upperMin')">
            {{getPasswordUpperMinError()}}
        </mat-error>
        <mat-error *ngIf="signUpForm.controls.password.hasError('digitMin')">
            {{getPasswordDigitMinError()}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput required type="password" formControlName="passwordConfirm"
            [errorStateMatcher]="passwordErrorMatcher">
        <mat-placeholder>{{'passwordConfirm' | translate | async }}</mat-placeholder>
        <mat-error *ngIf="signUpForm.controls.passwordConfirm.hasError('required')">
            {{'passwordConfirmRequired' | translate | async }}
        </mat-error>
        <mat-error *ngIf="signUpForm.hasError('differentPassword')">
            {{'passwordConfirmPasswordConfirmed' | translate | async }}
        </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">{{'signUp' | translate | async }}</button>
    <div *ngIf="state === 'error'" class="message error">
        <span *ngIf="errorStatus">
            {{'unexpectedFail' | translate | async }} =>
            {{errorStatus}}
        </span>
    </div>
</form>