<div class="background-container">
    <img class="background" src="../../assets/compressed/background-image.jpg">
</div>
<div class="content">
    <div class="inner">
        <form [formGroup]="resetPasswordRedirectForm" (ngSubmit)="onSubmit()" class="sign-up">
            <span class="title">{{'reset' | translate | async}}</span>
            <mat-form-field>
                <input matInput required type="password" formControlName="password">
                <mat-placeholder>{{'password' | translate | async }}</mat-placeholder>
                <mat-error *ngIf="resetPasswordRedirectForm.controls.password.hasError('required')">
                    {{'passwordRequired' | translate | async }}
                </mat-error>
                <mat-error *ngIf="resetPasswordRedirectForm.controls.password.hasError('minlength')">
                    {{getPasswordMinLengthError()}}
                </mat-error>
                <mat-error *ngIf="resetPasswordRedirectForm.controls.password.hasError('maxlength')">
                    {{getPasswordMaxLengthError()}}
                </mat-error>
                <mat-error *ngIf="resetPasswordRedirectForm.controls.password.hasError('upperMin')">
                    {{getPasswordUpperMinError()}}
                </mat-error>
                <mat-error *ngIf="resetPasswordRedirectForm.controls.password.hasError('digitMin')">
                    {{getPasswordDigitMinError()}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput required type="password" formControlName="passwordConfirm"
                    [errorStateMatcher]="passwordErrorMatcher">
                <mat-placeholder>{{'passwordConfirm' | translate | async }}</mat-placeholder>
                <mat-error *ngIf="resetPasswordRedirectForm.controls.passwordConfirm.hasError('required')">
                    {{'passwordConfirmRequired' | translate | async }}
                </mat-error>
                <mat-error *ngIf="resetPasswordRedirectForm.hasError('differentPassword')">
                    {{'passwordConfirmPasswordConfirmed' | translate | async }}
                </mat-error>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit">{{'signUp' | translate | async }}</button>
            <div *ngIf="userFound === false || state === 'error'" class="message error">
                <span *ngIf="userFound === false">
                    {{'userNotFound' | translate | async}}
                </span>
                <span *ngIf="state === 'error'">
                    {{'unexpectedFail' | translate | async}} =>
                    {{errorStatus}}
                </span>
            </div>
        </form>
    </div>
</div>