<div class="background-container">
    <img class="background" src="../../assets/compressed/background-image.jpg">
</div>
<div class="content">
    <div class="inner">
        <div *ngFor="let member of members" class="member">
            <div class="member-image">
                <img width="200px" [src]="member.img">
            </div>
            <div class="info">
                <span class="name">{{member.name | translate | async}}</span>
                <span class="function">{{member.function | translate | async}}</span>
                <span class="description">{{member.description | translate | async}}</span>
            </div>
        </div>
    </div>
</div>