.content {
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    height: 100%;

    .member {
      display: flex;
      justify-content: space-between;
      padding: 40px;
      max-width: 600px;
      width: 100%;

      .info {
        display: flex;
        flex-direction: column;

        .name {
          font-size: 1.5rem;
        }

        .function {
          font-size: 1.25rem;
          font-style: italic;
          color: #d3d3d3;
        }

        .description {
          font-size: 1rem;
        }
      }

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
      }

      &:nth-child(even) {
        background-color: #222;
        flex-direction: row-reverse;

        .member-image {
          margin-left: 30px;
        }
      }

      &:nth-child(odd) {
        background-color: #333;

        .member-image {
          margin-right: 30px;
        }
      }
    }
  }
}
