.content {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .inner {
      background-color: #222;
      border-radius: 4px;
      padding: 20px;
      width: 400px;

      .info {
          text-align: center;
      }
    }
  }